@page
@model Elderson.Pages.ISR.Users.ChatModel
@using Microsoft.AspNetCore.Http;
@{ Layout = "Shared/_LayoutITSupport";
    ViewData["Title"] = "Chat page";
    ViewData["Header"] = "CHAT";
    ViewData["Breadcrumb"] = "Contact"; }

<style>
    .left {
        width: 400px;
        height: 700px;
    }

    .right {
        width: 1100px;
        height: 700px;
    }

    .main-section small {
        font-size: 12px;
    }

    .main-section h3, .main-section h5 {
        margin: 0px;
    }

    .main-section {
        background-color: #fff;
        margin: auto;
    }

    .head-section {
        border-bottom: 1px solid #E6E6E6;
        clear: both;
        overflow: visible;
        width: 100%;
        height: 75px;
    }

    .headLeft-section {
        width: 100%;
        float: left;
        border-right: 1px solid #E6E6E6;
    }

    .headLeft-sub {
        padding: 15px;
        text-align: center;
    }

        .headLeft-sub input {
            width: 60%;
            border-radius: 0px;
            border: 1px solid #E6E6E6;
            padding: 7px;
        }

        .headLeft-sub button {
            background: #009EF7;
            color: #fff;
            border: 1px solid #E6E6E6;
            padding: 7px 15px;
        }

    .headRight-section {
        width: 100%;
        float: left;
    }

    .headRight-sub {
        padding: 10px 15px 0px 15px;
        height: 75px;
        z-index: 3;
    }

    .body-section {
        clear: both;
        overflow: hidden;
        width: 100%;
    }

    .left-section {
        width: 100%;
        float: left;
        height: 500px;
        border-right: 1px solid #E6E6E6;
        background-color: #FFF;
        z-index: 1;
        position: relative;
    }

        .left-section ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
        }

            .left-section ul li {
                padding: 15px 0px;
                cursor: pointer;
                border-bottom: 1px solid #E6E6E6;
            }

                .left-section ul li.active {
                    background: #009EF7;
                    color: #fff;
                    position: relative;
                }

    .mCustomScrollBox, .mCSB_container {
        overflow: unset !important;
    }

    .left-section ul li.active .desc .time {
        color: #fff;
    }

    .left-section ul li.active:before {
        position: absolute;
        content: '';
        right: -10px;
        border: 5px solid #009EF7;
        top: 0px;
        bottom: 0px;
        border-radius: 0px 3px 3px 0px;
    }

    .left-section ul li.active:after {
        position: absolute;
        content: "";
        bottom: 0px;
        right: 0px;
        left: auto;
        width: 100%;
        top: 0px;
        -webkit-box-shadow: -8px 4px 10px #a1a1a1;
        -moz-box-shadow: -8px 4px 10px #a1a1a1;
        box-shadow: -8px 4px 10px #a1a1a1;
    }

    .left-section .chatList {
        overflow: hidden;
    }

        .left-section .chatList .img {
            width: 60px;
            float: left;
            text-align: center;
            position: relative;
        }

            .left-section .chatList .img img {
                width: 30px;
                border-radius: 50%;
            }

            .left-section .chatList .img i {
                position: absolute;
                font-size: 10px;
                color: #52E2A7;
                border: 1px solid #fff;
                border-radius: 50%;
                left: 10px;
            }

        .left-section .chatList .desc {
            width: calc(100% - 60px);
            float: left;
            position: relative;
        }

            .left-section .chatList .desc h5 {
                margin-top: 6px;
                line-height: 5px;
            }

            .left-section .chatList .desc .time {
                position: absolute;
                right: 15px;
                color: #c1c1c1;
            }

    .right-section {
        width: 100%;
        float: left;
        height: 100%;
        background-color: #F6F6F6;
        position: relative;
    }

    .message {
        height: calc(100% - 68px);
        font-family: sans-serif;
        padding-bottom: 50px;
    }

        .message ul {
            padding: 0px;
            list-style: none;
            width: 100%;
            height: 590px;
            overflow: scroll;
        }

            .message ul li {
                position: relative;
                width: 100%;
                padding: 15px 0px;
                clear: both;
            }

                .message ul li:last-child {
                    margin-bottom: 20px;
                }

                .message ul li.msg-left {
                    float: left;
                    max-width: 500px;
                }

                    .message ul li.msg-left .msg-desc {
                        margin-left: 25px;
                        margin-right: 10px;
                        font-size: 12px;
                        background: #E8E8E8;
                        padding: 10px 15px;
                        border-radius: 5px 5px 5px 0px;
                        position: relative;
                    }

                        .message ul li.msg-left .msg-desc:before {
                            position: absolute;
                            content: '';
                            border: 10px solid transparent;
                            border-bottom-color: #E8E8E8;
                            bottom: 0px;
                            left: -10px;
                        }

                    .message ul li.msg-left small {
                        float: right;
                        color: #c1c1c1;
                    }

                .message ul li.msg-right {
                    float: right;
                    max-width: 500px;
                }


                    .message ul li.msg-right .msg-desc {
                        margin-right: 25px;
                        margin-left: 10px;
                        font-size: 12px;
                        background: #cce5ff;
                        color: #004085;
                        padding: 10px 15px;
                        border-radius: 5px 5px 5px 0px;
                        position: relative;
                    }

                        .message ul li.msg-right .msg-desc:before {
                            position: absolute;
                            content: '';
                            border: 10px solid transparent;
                            border-bottom-color: #cce5ff;
                            bottom: 0px;
                            right: -10px;
                        }

                    .message ul li.msg-right small {
                        float: right;
                        color: #c1c1c1;
                        margin-right: 70px;
                    }

                .message ul li.msg-day {
                    border-top: 1px solid #EBEBEB;
                    width: 100%;
                    padding: 0px;
                    margin: 15px 0px;
                }

                    .message ul li.msg-day small {
                        position: absolute;
                        top: -10px;
                        background: #F6F6F6;
                        color: #c1c1c1;
                        padding: 3px 10px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

    .right-section-bottom {
        background: #fff;
        width: 100%;
        padding: 15px;
        position: absolute;
        bottom: 0px;
        border-top: 1px solid #E6E6E6;
        text-align: center;
    }

        .right-section-bottom input {
            border: 0px;
            padding: 8px 5px;
            width: calc(100% - 150px);
        }

        .right-section-bottom .btn-send {
            border: 0px;
            padding: 8px 10px;
            float: right;
            margin-right: 30px;
            color: #009EF7;
            font-size: 18px;
            background: #fff;
            cursor: pointer;
        }

    .upload-btn {
        position: relative;
        overflow: hidden;
        display: inline-block;
        float: left;
    }

        .upload-btn .btn {
            border: 0px;
            padding: 8px 10px;
            color: #009EF7;
            font-size: 18px;
            background: #fff;
            cursor: pointer;
        }

        .upload-btn input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
</style>




<div class="main-section d-flex justify-content-between" style="background-color:transparent;">
    <div class="left card">
        <div class="head-section">
            <div class="headLeft-section">
                <div class="headLeft-sub">
                    <input type="text" name="search" placeholder="Search...">
                    <button> <i class="fa fa-search"></i> </button>
                </div>
            </div>
        </div>
        <div class="body-section">
            <div class="left-section mCustomScrollbar" data-mcs-theme="minimal-dark">
                <ul id="chatUser">
                    @{ if (HttpContext.Session.GetString("LoginUser") == "8d96eb8d-fdc9-45f9-bf11-bc69bf93ef39")
                        {
                            <li id="test" class="active chatActive" onclick="changeChat(this, 'test')">
                                <div class="chatList">
                                    <div class="img">
                                        <i class="fa fa-circle"></i>
                                        <img src="/demo/man02.png">
                                    </div>
                                    <div class="desc">
                                        <small class="time">3 day</small>
                                        <h5>Test user</h5>
                                        <small>Lorem ipsum dolor sit amet...</small>
                                    </div>
                                </div>
                            </li>

                        }
                        else
                        {
                            <li id="test" class="active chatActive" onclick="changeChat(this, 'test')">
                                <div class="chatList">
                                    <div class="img">
                                        <i class="fa fa-circle"></i>
                                        <img src="/demo/man02.png">
                                    </div>
                                    <div class="desc">
                                        <small class="time">3 day</small>
                                        <h5>Test user</h5>
                                        <small>Lorem ipsum dolor sit amet...</small>
                                    </div>
                                </div>
                            </li>
                            <li id="8d96eb8d-fdc9-45f9-bf11-bc69bf93ef39" onclick="changeChat(this, '8d96eb8d-fdc9-45f9-bf11-bc69bf93ef39')">
                                <div class="chatList">
                                    <div class="img">
                                        <i class="fa fa-circle"></i>
                                        <img src="/demo/man01.png">
                                    </div>
                                    <div class="desc">
                                        <small class="time">05:30 am</small>
                                        <h5>IT Support</h5>
                                        <small></small>
                                    </div>
                                </div>
                            </li>

                        }
                    }

                    @{ foreach (var user in Model.allmessages)
                        {
                            if (user.Key != "8d96eb8d-fdc9-45f9-bf11-bc69bf93ef39")
                            {
                                <li id="@user.Key" onclick="changeChat(this, '@user.Key')">
                                    <div class="chatList">
                                        <div class="img">
                                            <i class="fa fa-circle"></i>
                                            <img src="/demo/man01.png">
                                        </div>
                                        <div class="desc">
                                            <small class="time">05:30 am</small>
                                            <h5>@Model.allusers[user.Key].Fullname</h5>
                                            <small>...</small>
                                        </div>
                                    </div>
                                </li>
                            }

                        } }
                </ul>
            </div>
        </div>
    </div>
    <div class="right card d-flex align-content-between">
        <div class="head-section">
            <div class="headRight-section">
                <div class="headRight-sub">
                    <h3>Lajy Ion</h3>
                    <small>Lorem ipsum dolor sit amet...</small>
                </div>
            </div>
        </div>
        <div class="body-section">
            <div class="right-section">
                <div class="message wholeChat" data-mcs-theme="minimal-dark"  >
                    @{ if (HttpContext.Session.GetString("LoginUser") != "8d96eb8d-fdc9-45f9-bf11-bc69bf93ef39")
                        {
                        <ul id="messageList" class="8d96eb8d-fdc9-45f9-bf11-bc69bf93ef39" style="display:none;">
                            @{ if (Model.allmessages.ContainsKey("8d96eb8d-fdc9-45f9-bf11-bc69bf93ef39"))
                                {
                                    foreach (var msg in Model.allmessages["8d96eb8d-fdc9-45f9-bf11-bc69bf93ef39"])
                                    {
                                        if (msg.ToUserId == HttpContext.Session.GetString("LoginUser"))
                                        {
                                        <li class="msg-left">
                                            <div class="msg-left-sub">
                                                <div class="msg-desc">
                                                    @msg.Text
                                                </div>
                                                <small>@msg.When</small>
                                            </div>
                                        </li>
                                        }
                                        else
                                        {
                                        <li class="msg-right">
                                            <div class="msg-right-sub">
                                                <div class="msg-desc">
                                                    @msg.Text
                                                </div>
                                                <small>@msg.When</small>
                                            </div>
                                        </li>
                                            }
                                        }
                                    }
                                }

                        </ul>
                        }
                    }


                    <ul id="messageList" class="test showActive">
                        <li class="msg-left">
                            <div class="msg-left-sub">
                                <div class="msg-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                                <small>05:25 am</small>
                            </div>
                        </li>

                        <li class="msg-right">
                            <div class="msg-right-sub">
                                <div class="msg-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                                <small>05:25 am</small>
                            </div>
                        </li>



                    </ul>
                    @{ foreach (var user in Model.allmessages)
                        {
                            <ul id="messageList" class="@user.Key" style="display:none;">
                                @{ foreach (var msg in Model.allmessages[user.Key])
                                    {
                                        if (msg.ToUserId == HttpContext.Session.GetString("LoginUser"))
                                        {
                                            <li class="msg-left">
                                                <div class="msg-left-sub">
                                                    <div class="msg-desc">
                                                        @msg.Text
                                                    </div>
                                                    <small>@msg.When</small>
                                                </div>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="msg-right">
                                                <div class="msg-right-sub">
                                                    <div class="msg-desc">
                                                        @msg.Text
                                                    </div>
                                                    <small>@msg.When</small>
                                                </div>
                                            </li>
                                        }
                                    } }
                            </ul> } }
                </div>
               
                <div class="right-section-bottom">
                    <form>
                        <div class="upload-btn">
                            <button class="btn"><i class="fa fa-photo"></i></button>
                            <input type="file" name="myfile" />
                        </div>
                        <input id="messageInput" type="text" name="" placeholder="type here...">
                        <button id="sendButton" type="button" class="btn-send"><i class="fa fa-send"></i></button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- custom scrollbar plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


@*
    <script src="~/js/chat.js"></script>*@

<script>
    var toUserId = "8d96eb8d-fdc9-45f9-bf11-bc69bf93ef39";
    var connectId = "";

    class Message {
        constructor(username, text, when, userId, toUserId) {
            this.userName = username;
            this.text = text;
            this.when = when;
            this.Id = "";
            this.UserId = userId;
            this.ToUserId = toUserId;
        }
    }

    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

    //Disable the send button until connection is established.
    document.getElementById("sendButton").disabled = true;

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;

        connection.invoke("getConnectionId")
            .then(function (connectionId) {
                sessionStorage.setItem('connectionId', connectionId);
                connectId = connectionId;
            }).catch(err => console.error(err.toString()));
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var user = "user";
        var text = document.getElementById("messageInput").value;
        var userId = '@HttpContext.Session.GetString("LoginUser")';

        console.log("sending..." + user);

        document.getElementById("messageInput").value = "";
        let message = new Message(user, text, Date.now, userId, toUserId);
        console.log(`sending ${message} says ${message.text}`);


        var li = document.createElement("li");
        var divFirst = document.createElement("div");
        var divSecond = document.createElement("div");
        var divThird = document.createElement("div");
        var small = document.createElement("small");
        li.setAttribute("class", "msg-right")
        divFirst.setAttribute("class", "msg-right")
        divSecond.setAttribute("class", "msg-right-sub")
        divThird.setAttribute("class", "msg-desc")
        li.appendChild(divFirst);
        divFirst.appendChild(divSecond);
        divSecond.appendChild(divThird);
        divSecond.appendChild(small);

        divThird.textContent = `${message.text}`;

        document.getElementsByClassName(toUserId)[0].appendChild(li);


        connection.invoke("SendMessage", message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });

    connection.on("ReceiveMessage", function (message) {
        console.log(message)
        console.log(`${message.userId} sends to ${message.toUserId}`);

        if ('@HttpContext.Session.GetString("LoginUser")' != message.userId && '@HttpContext.Session.GetString("LoginUser")' == message.toUserId) {
            var li = document.createElement("li");
            var divFirst = document.createElement("div");
            var divSecond = document.createElement("div");
            var divThird = document.createElement("div");
            var small = document.createElement("small");

            li.setAttribute("class", "msg-left")
            divFirst.setAttribute("class", "msg-left")
            divSecond.setAttribute("class", "msg-left-sub")
            divThird.setAttribute("class", "msg-desc")

            li.appendChild(divFirst);
            divFirst.appendChild(divSecond);
            divSecond.appendChild(divThird);
            divSecond.appendChild(small);

            divThird.textContent = `${message.text}`;

            console.log(typeof document.getElementsByClassName(message.userId)[0]);

            if (document.getElementsByClassName(message.userId)[0] == null || typeof document.getElementsByClassName(message.userId)[0] == "undefined") {
                document.getElementById("chatUser").innerHTML += `<li id="${message.userId}" class="" onclick="changeChat(this, '${message.userId}')">
                                <div class="chatList">
                                    <div class="img">
                                        <i class="fa fa-circle"></i>
                                        <img src="/demo/man02.png">
                                    </div>
                                    <div class="desc">
                                        <small class="time">3 day</small>
                                        <h5>${message.username}</h5>
                                        <small>...</small>
                                    </div>
                                </div>
                            </li>`;
                document.getElementsByClassName("wholeChat")[0].innerHTML += `<ul id="messageList" class="${message.userId}" style="display:none;"></ul>`;
                document.getElementsByClassName(message.userId)[0].appendChild(li);
            } else {
                document.getElementsByClassName(message.userId)[0].appendChild(li);

            }
        }

    });
</script>

<script>
    function changeChat(e, userId) {
        console.log("Changing...");
        var chat = document.getElementsByClassName(userId)[0];
        document.querySelector(".chatActive").classList.remove("active", "chatActive");
        var user = document.getElementById(userId);
        user.classList.add("chatActive", "active");

        var oldChat = document.getElementsByClassName("showActive")[0];
        oldChat.classList.remove("showActive");
        chat.classList.add("showActive");
        oldChat.style.display = "none";
        chat.style.display = "block";

        toUserId = userId;
        console.log(toUserId);
    }
</script>