@page
@model Elderson.Pages.ISR.Incidents.DetailModel
@{ Layout = "Shared/_LayoutITSupport";
                ViewData["Title"] = "Incident Detail page";
                ViewData["Header"] = "INCIDENT DETIALS";
                ViewData["Breadcrumb"] = "Incident Management > Incidents"; }

<style>
    a {
        color: white;
        text-decoration: none;
    }
</style>

<div class="row">
    <form class="forms-sample" method="post" asp-action="">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <div style="margin-left:20px; margin-top:20px;">
                                    <h3>@Model.SelectedIncident.Title</h3>
                                    <p>Created on @Model.SelectedIncident.Timestamp</p>
                                </div>
                            </div>

                            <div>
                                <div class="btn-group" style="margin-top:30px;">
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ACTION
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <a class="dropdown-item" asp-page="Edit" asp-route-id="@Model.SelectedIncident.Id">Edit</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target=@("#staticBackdrop" + Model.SelectedIncident.Id)>Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Incident Information</h4>
                        <hr />
                        <div>
                            <div class="profileLb">Description:</div>
                            <div class="profileData">
                                @Model.SelectedIncident.Description
                            </div>
                        </div>
                        <div>
                            <div class="profileLb">Reason:</div>
                            <div class="profileData">
                                @Model.SelectedIncident.Reason
                            </div>
                        </div>
                        <div>
                            <div class="profileLb">Recommendation:</div>
                            <div class="profileData">
                                @Model.SelectedIncident.Recommendation
                            </div>
                        </div>
                        <div>
                            <div class="profileLb">Wrote By:</div>
                            <div class="profileData">
                                @Model.SelectedUser.Fullname
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id=@("staticBackdrop"+@Model.SelectedIncident.Id) data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <h4>
                        Are you sure you want to delete this incident?

                    </h4>
                </div>
                <div class="d-flex justify-content-between" style="margin-top:30px;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick=@("deleteIncident("+"'"+@Model.SelectedIncident.Id+"'"+")") class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function deleteIncident(incidentId) {
        $.ajax({
            url: 'https://localhost:44311/api/Incident/' + incidentId,
            type: 'DELETE',
            success: function (result) {

                console.log(result);
                window.location.href = "/ISR/Incidents";

            }
        });
    }
</script>