@page
@model Elderson.Pages.ISR.Incidents.EditModel
@{ Layout = "Shared/_LayoutOrganization";
                ViewData["Title"] = "Edit Incident page";
                ViewData["Header"] = "EDIT INCIDENT";
                ViewData["Breadcrumb"] = "Incident Management > Incidents"; }

<style>
</style>

<div class="row">
    <form class="forms-sample incidentForm" method="post" asp-action="">
        <input type="hidden" asp-for="SelectedIncident.Id" value="@Model.SelectedIncident.Id" />
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Incident Information</h4>
                        <hr />
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="exampleInputEmail3">Title:</label>

                            </div>
                            <div style="width:80%;">
                                <input type="text" asp-for="SelectedIncident.Title" value="@Model.SelectedIncident.Title" class="form-control" id="exampleInputEmail3">
                                <span asp-validation-for="SelectedIncident.Title" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="password">Description:</label>

                            </div>
                            <div style="width:80%;">
                                <textarea asp-for="SelectedIncident.Description" rows="6" class="form-control" id="body">He tried to login on 01 December 2021, but it wasn’t successful. So he contact IT Support through website chat. I check with him and the logs, find out that the account was deleted.
                                @Model.SelectedIncident.Description</textarea>
                                <span asp-validation-for="SelectedIncident.Description" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="confirmPassword">Reason:</label>

                            </div>
                            <div style="width:80%;">
                                <textarea asp-for="SelectedIncident.Reason" rows="6" class="form-control" id="body">Someone gains access to his account and delete the account.
                                @Model.SelectedIncident.Reason</textarea>
                                <span asp-validation-for="SelectedIncident.Reason" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%;">
                                <label for="confirmPassword">Recommendation:</label>

                            </div>
                            <div style="width:80%;">
                                <textarea asp-for="SelectedIncident.Recommendation" rows="6" class="form-control" id="body">If user wants to delete, he or she needs to enter password again to delete.
                                @Model.SelectedIncident.Recommendation</textarea>
                                <span asp-validation-for="SelectedIncident.Recommendation" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group d-flex">
                            <div style="width:20%; padding:10px 0;">
                                <label for="category">Category:</label>

                            </div>
                            <div style="width:80%;">
                                @Html.DropDownList("Select", new SelectList(Enum.GetValues(typeof(Models.CategoryType))), null, new { @class = "form-control multiple-checkboxes", @id = "multiple-checkboxes", @multiple = "multiple" })
                                <input asp-for="SelectedIncident.Category" type="hidden" id="category" value="@Model.SelectedIncident.Category" />
                                <span asp-validation-for="SelectedIncident.Category" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group  d-flex">
                            <div style="width:20%;">
                                <label>Level</label>

                            </div>
                            <div style="width:80%;">
                                @Html.DropDownList("SelectedIncident.Level", new SelectList(Enum.GetValues(typeof(Models.LevelType))), "--Select an level--", new { @class = "form-control", @id = "levelType" })
                                <span asp-validation-for="SelectedIncident.Level" class="text-danger"></span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button type="button" onclick="history.back()" class="btn btn-primary me-2">Cancel</button>

                <button type="button" class="btn btn-primary me-2 submit">Submit</button>

            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(document).ready(function () {
        $('#multiple-checkboxes').multiselect();

        var catList = $("#category").val().replace(" ", "").split(",");
        for (i in catList) {
            console.log(`a .checkbox input[value='${catList[i]}']`);
            $(`a .checkbox input[value='${catList[i]}']`).click()
        }

        $(".multiselect-selected-text").text($("#category").val());
    });

    $(".submit").on("click", function () {
        $("#category").val($(".multiselect-selected-text").text().replace(" ", ""));

        $(".incidentForm").submit();
    });
</script>