@page
@model Elderson.Pages.ISR.Users.ProfileModel
@{
    Layout = "Shared/_LayoutITSupport";
    ViewData["Title"] = "User Profile page";
}

<div class="row">
    <form class="forms-sample" method="post" asp-action="">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img style="border-radius:50px; height:85px; width:85px;" src="~/images/faces/face1.jpg" alt="Alternate Text" />
                                <div style="margin-left:20px; margin-top:30px;">
                                    <h3>@Model.SelectedUser.Fullname</h3>
                                    <p>@Model.SelectedUser.UserType</p>
                                </div>
                            </div>
                            
                            <div>
                                <div class="btn-group"  style="margin-top:30px;">
                                    <button type="button" class="btn btn-primary"><a asp-page="/Users/UserProfile/">View</a> </button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <a class="dropdown-item" href="/Users/EditUser/">Edit</a>
                                        <a class="dropdown-item" href="/Users/LockUser/">Lock</a>
                                        <a class="dropdown-item" href="/Users/ChangePwd/">Change password</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Contact Information</h4>
                        <hr />
                        <div>
                            <div class="profileLb">Email Adress</div>
                            <div class="profileData">@Model.SelectedUser.Email</div>
                        </div>
                        <div>
                            <div class="profileLb">Phone Number</div>
                            <div class="profileData">@Model.SelectedUser.Phone</div>
                        </div>
                        @{ if (Model.SelectedUser.UserType == "Patient")
                            {
                                <div>
                                    <div class="profileLb">Emergency Contact Name</div>
                                    <div class="profileData">@Model.PatientRole.EmergencyName</div>
                                </div>
                                <div>
                                    <div class="profileLb">Emergency Contact Number</div>
                                    <div class="profileData">@Model.PatientRole.EmergencyNum</div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
            <div class="col-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Personal Information</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 grid-margin">
                                <div>
                                    <div class="profileLb">Age</div>
                                    <div class="profileData">example@gmail.com</div>
                                </div>
                                <div>
                                    <div class="profileLb">Gender</div>
                                    <div class="profileData">@Model.SelectedUser.Gender</div>
                                </div>
                            </div>
                            <div class="col-md-6 grid-margin">
                                <div>
                                    <div class="profileLb">Birth Date</div>
                                    <div class="profileData">@Model.SelectedUser.Birthdate</div>
                                </div>
                                @{ if (Model.SelectedUser.UserType == "Patient")
                                    {
                                        <div>
                                            <div class="profileLb">NRIC</div>
                                            <div class="profileData">@Model.PatientRole.Nric</div>
                                        </div>
                                        <div>
                                            <div class="profileLb">Relationship</div>
                                            <div class="profileData">@Model.PatientRole.Relationship</div>
                                        </div>
                                    }
                                    else if (Model.SelectedUser.UserType == "Doctor")
                                    {
                                        <div>
                                            <div class="profileLb">Clinic</div>
                                            <div class="profileData">@Model.DoctorRole.Clinic</div>
                                        </div>
                                    }
                                    else if (Model.SelectedUser.UserType == "Administrator")
                                    {
                                        <div>
                                            <div class="profileLb">Clinic</div>
                                            <div class="profileData">@Model.AdminRole.Clinic</div>
                                        </div>
                                        <div>
                                            <div class="profileLb">Opening Hours</div>
                                            <div class="profileData">@Model.AdminRole.OpeningHours</div>
                                        </div>
                                        <div>
                                            <div class="profileLb">Closing Hours</div>
                                            <div class="profileData">@Model.AdminRole.ClosingHours</div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 grid-margin">
                                @{ if (Model.SelectedUser.UserType == "Patient")
                                    {
                                        <div>
                                            <div class="profileLb">Home Address</div>
                                            <div class="profileData">@Model.PatientRole.HomeAddr</div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
