@page
@model Elderson.Pages.Pharmacist.Inventory.InventoryStockModel
@{
    Layout = "Shared/_LayoutPharmacist";
    ViewData["Title"] = "Inventory List Page";
    ViewData["Header"] = "INVENTORY";
    ViewData["Breadcrumb"] = "Inventory > Stock";
}

<style>
    a {
        color: white;
        text-decoration: none;
    }

    .dropdown-toggle::after {
        display: none;
    }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="d-flex justify-content-between align-items-start">
                <h4 class="card-title">Inventory Weekly Stock Take Table</h4>

            </div>

            <div class="table-responsive">
                <table class="table table-hover" id="inventorytable">
                    <thead>
                        <tr>
                            <th>Medication Name</th>
                            <th>Abbreviation</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Current Amount</th>
                            <th>Counted Amount</th>
                            <th></th>
                        </tr>
                    </thead>

                    @*<tbody>
                        @foreach (var both in Model.medication.Zip(Model.inventory, (item, inventory) => new { item, inventory }))
                        {

                            <tr>
                                <td>@both.item.MedName</td>
                                <td>@both.item.MedAbbreviation</td>
                                <td>@both.item.MedType</td>
                                <td>$@both.inventory.Price</td>
                                <td>@both.inventory.CurrentAmt</td>
                                <td>
                                    <input asp-for="selectedInventory.CurrentAmt" type="number" class="form-control" id="currAmt">
                                    <span asp-validation-for="selectedInventory.CurrentAmt" class="text-danger"></span>
                                    <input type="hidden" asp-for="selectedInventory.Id" value="@both.inventory.Id" />
                                </td>

                            </tr>

                        }
                    </tbody>*@
                </table>
            </div>
        </form>

    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("Loading webpage...")
        $.ajax({
            url: 'https://localhost:44311/api/Inventory',
            type: 'GET',
            success: function (result) {
                console.log("Items retrieve successfully")
                console.log(JSON.parse(result));

            }
        });
        $('#inventorytable').DataTable(
            {
                "ajax": {
                    'url': 'https://localhost:44311/api/Inventory',
                    'type': 'GET',
                    "dataSrc": function (json) {
                        return JSON.parse(JSON.stringify(json));
                    }
                },
                "columns": [
                    { "data": "MedName" },
                    { "data": "MedAbbreviation" },
                    { "data": "MedType" },
                    { "data": "Price" },
                    { "data": "CurrentAmt" },
                    {
                        "data": function (data) {
                            return `<input type="number" id="quantity">`
                        }
                    },
                    {
                        "data": function (data) {
                            return `<a onclick="updateMedication('${data.Id}')" class="btn btn-primary" style="color:white">Update</a>`
                        }
                    }


                    
                ],
                "info": true,
                "ordering": true,
                "search": true,
                "processing": true,
                'autoWidth': false,
                'lengthChange': false,
                'paging': true,
                'pagingType': 'numbers',
                'ordering': false,
                'dom': "fltip",
                'pageLength': 5
            }
        );
    });

    function updateMedication(id) {
        var quantity = document.getElementById("quantity").value;
        if (quantity < 1) {
            alert("Please add quantity of medicine")
        }
        else {
            $.ajax({
                url: 'https://localhost:44311/api/Inventory/' + id + '/' + quantity,
                type: 'POST',
                success: function (result) {
                    console.log("Item updated successfully");
                    $('#inventorytable').DataTable().ajax.reload();
                }
            });
        }
    }
</script>

