@page
@model Elderson.Pages.Shared.DateAndTimeModel
@{
}
<link rel="stylesheet" href="~/css/bookingStyle.css" />
<nav aria-label="breadcrumb" style="margin:35px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Elderson</a></li>
        <li class="breadcrumb-item"><a href="#">Clinic</a></li>
        <li class="breadcrumb-item"><a href="#">Doctor</a></li>
        <li class="breadcrumb-item active" aria-current="page">Date & Time</li>
    </ol>
    <h3>Clinic</h3>
</nav>
<div class="container">
    <div>
        <ol class="stepper">
            <li class="stepperItem"><div class="stepperItemDiv stepComplete"><i class="fas fa-check"></i></div><div class="stepperDivText">Select Clinic</div></li>
            <li class="stepperItemLine"><div class="stepperLine"></div></li>
            <li class="stepperItem"><div class="stepperItemDiv stepComplete"><i class="fas fa-check"></i></div><div class="stepperDivText">Select Doctor</div></li>
            <li class="stepperItemLine"><div class="stepperLine"></div></li>
            <li class="stepperItem"><div class="stepperItemDiv stepActive">3</div><div class="stepperDivText">Select Date & Time</div></li>
            <li class="stepperItemLine"><div class="stepperLine"></div></li>
            <li class="stepperItem"><div class="stepperItemDiv">4</div><div class="stepperDivText">Enter Symptoms</div></li>
        </ol>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="form-outline">
                    <input class="form-control"
                           id="formControlDoctor"
                           type="text"
                           value="@Model.myDoctor (@Model.myClinic)"
                           aria-label="readonly input example"
                           readonly />
                    <label class="form-label" for="formControlDoctor">Doctor</label>
                </div>
                <input type="hidden" asp-for="myClinic" value="@Model.myClinic" />
                <input type="hidden" asp-for="myDoctor" value="@Model.myDoctor" />
                <div class="validate"></div>
            </div>
            <div class="col-md-3 form-group mt-3 mt-md-0">
                <div class="form-outline">
                    <input class="form-control"
                           id="dateSelect"
                           type="text"
                           value="-"
                           aria-label="readonly input example"
                           readonly />
                    <label class="form-label" for="dateSelect">Date</label>
                </div>
            </div>
            <div class="col-md-3 form-group mt-3 mt-md-0">
                <div class="form-outline">
                    <input class="form-control"
                           id="timeSelect"
                           type="text"
                           value="-"
                           aria-label="readonly input example"
                           readonly />
                    <label class="form-label" for="timeSelect">Time</label>
                </div>
            </div>
            <input asp-for="myDateTime" type="datetime-local" class="form-control" hidden>
        </div>
        <br />
        <div>
            <table id="calendar" class="table table-bordered">
                <thead class="bordered">
                    <tr>
                        <th class="calClick" id="prevMonth" style="text-align:center;"><h4><i class="fas fa-angle-left"></i></h4></th>
                        <th colspan="5" style="text-align:center;"><h4 id="month"></h4></th>
                        <th class="calClick" id="nextMonth" style="text-align:center;"><h4><i class="fas fa-angle-right"></i></h4></th>
                    </tr>
                    <tr id="week">
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                </thead>
                <tbody id="calBody">
                </tbody>
            </table>
        </div>
        <div id="timePicker">
        </div>
        <div style="display:inline-block">
            <div style="float:left"><a asp-page="/Elderly/Doctor" asp-route-clinic="@Model.myClinic" class="btn btn-primary">Back</a></div>
            <div style="float:right"><button class="btn btn-primary">Continue</button></div>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/datepicker.js"></script>
