@page
@model Elderson.Pages.Elderly.MedicalHistoryModel
@{
}
<nav aria-label="breadcrumb" style="margin:35px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Elderson</a></li>
        <li class="breadcrumb-item active" aria-current="page">Medical History</li>
    </ol>
    <h3>Booking History</h3>
</nav>
<div class="container">
    <div style="display:flex; justify-content:space-between;">
        <div style="display:flex; justify-content:flex-start">Share with us your medical history. It will help the doctors give a better diagnosis!</div>
        <div style="display:flex; justify-content:flex-end"><a asp-page="AddMedicalHistory" class="btn btn-primary">Add</a></div>
    </div>
    <br />
    <div>
        @if (Model.myMedicalHistory.Count != 0)
        {
            @foreach (var item in Model.myMedicalHistory)
            {
                <div class="card">
                    <div class="card-header" style="background-color: #F4F3FF">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.StartDate.ToString("dd MMMM yyyy") - @item.StartDate.ToString("dd MMMM yyyy")</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Description: @item.Description</p>
                        <a asp-page="/Elderly/DeleteMedicalHistory" asp-route-id="@item.Id" class="btn btn-danger card-link">Delete</a>
                        <a asp-page="/Elderly/EditMedicalHistory" asp-route-id="@item.Id" class="btn btn-primary card-link">Edit</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div style="background: #FBFBFB; padding: 100px; text-align: center;">
                <h3><i class="fas fa-exclamation-triangle"></i> You have not added any entries for your medical history</h3>
            </div>
        }
    </div>
</div>