@page
@model Elderson.Pages.Pharmacist.Prescrip.ViewPrescriptionObjModel
@{
    Layout = "Shared/_LayoutPharmacist";
    ViewData["Title"] = "View Supplier Page";
    ViewData["Header"] = "VIEW SUPPLIER";
    ViewData["Breadcrumb"] = "Medical Supplier > View ";

}

<style>
    .dropdown-item {
        color: white;
        text-decoration: none;
    }
</style>

<div class="row">
    <form class="forms-sample" method="post" asp-action="">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <div style="margin-left:20px; margin-top:20px;">
                                    <h3>@Model.SelectedPrescripiton.PatientName</h3>
                                </div>
                            </div>

                            <div>
                                <div class="btn-group" style="margin-top:30px;">
                                    <button type="button" class="btn btn-primary me-2" onClick="history.go(-1); return false;">Back</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ACTION
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <a class="dropdown-item" data-toggle="modal" data-target=@("#staticBackdrop" + Model.SelectedPrescripiton.Id)>Mark as Sent</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Supplier Information</h4>
                        <hr />
                        <div>
                            <p class="form-group d-flex">
                                Prescription ID:
                            </p>
                            <div class="profileData">
                                @Model.SelectedPrescripiton.Id
                            </div>
                        </div>
                        <div>
                            <p class="form-group d-flex">
                                Patient Name:
                            </p>
                            <div class="profileData">
                                @Model.SelectedPrescripiton.PatientName
                            </div>
                        </div>
                        <div>
                            <p class="form-group d-flex">
                                Patient ID:
                            </p>
                            <div class="profileData">
                                @Model.SelectedPrescripiton.PatientId
                            </div>
                        </div>
                        <div>
                            <p class="form-group d-flex">
                                Doctor Name:
                            </p>
                            <div class="profileData">
                                @Model.SelectedPrescripiton.DoctorId

                            </div>
                        </div>
                        <div>
                            <p class="form-group d-flex">
                                Date:
                            </p>
                            <div class="profileData">
                                @Model.SelectedPrescripiton.Date.ToShortDateString()
                            </div>
                        </div>
                        <div>
                            <div class="form-group d-flex">
                                Supplied Medications:
                            </div>
                            <div class="profileData">
                                @if (Model.specificMedication != null)
                                {
                                    string concat = "";
                                    foreach (var a in Model.specificMedication)
                                    {
                                        concat = concat + " " + a + "|";
                                    }

                                    @Html.Raw(concat);
                                }
                                else
                                {
                                    @:NULL
                                }
                            </div>
                        </div>
                        <div>
                            <div class="form-group d-flex">
                                Status:
                            </div>
                            <div class="profileData">
                                @if (Model.SelectedPrescripiton.Status == "0")
                                {
                                    @:Not Prepared
                                }
                                else
                                {
                                    @:Sent
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id=@("staticBackdrop"+@Model.SelectedPrescripiton.Id) data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <h4>
                        Are you sure you want to mark the Prescription as Sent?

                    </h4>
                </div>
                <div class="d-flex justify-content-between" style="margin-top:30px;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="post">
                        
                        <button type="submit" class="btn btn-danger">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function updatePrescription(Id) {
        $.ajax({
            url: 'https://localhost:44311/api/Inventory/UpdatePrescription/' + Id,
            type: 'POST',
            success: function (result) {

                console.log(result);
                window.location.href = "/Pharmacist/Prescrip/ViewOldPrescriptions";


            }
        });
    }
</script>